"\e[A": history-search-backward
"\e[B": history-search-forward

set editing-mode vi
set keymap vi-command

# Pressing tab will list all completions & select the first one. Pressing it
# again will cycle through available completions.
TAB: menu-complete
# Shift-TAB cycles completions backward
"\e[Z": menu-complete-backward

# Option-up/option-down should also apply to insert mode
"\e\e[A": history-search-backward
"\e\e[B": history-search-forward

# display completions using different colors to indicate their file type
set colored-stats on

set show-all-if-ambiguous on

set show-mode-in-prompt on

set echo-control-characters off

set colored-stats on
set colored-completion-prefix on

set vi-ins-mode-string " "
set vi-cmd-mode-string "‣"
